################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/YeaJur.Core/YeaJur.Core.pfx
/YeaJur.Core/YeaJur.Core.pfx
/YeaJur.Core/bin/Debug
/YeaJur.Core/bin/Debug
/YeaJur.Core/bin/Debug
/.vs
/YeaJur.Core/bin/Debug
/YeaJur.Core/bin/Debug/YeaJur.Mapper.dll
/YeaJur.Core/bin/Debug/YeaJur.Core.pdb
/YeaJur.Core/bin/Debug/YeaJur.Core.dll
/YeaJur.Core/bin/Debug/NPOI.xml
/YeaJur.Core/bin/Debug/NPOI.OpenXmlFormats.dll
/YeaJur.Core/bin/Debug/NPOI.OpenXml4Net.dll
/YeaJur.Core/bin/Debug/NPOI.OOXML.dll
/YeaJur.Core/bin/Debug/NPOI.dll
/YeaJur.Core/bin/Debug/log4net.xml
/YeaJur.Core/bin/Debug/log4net.dll
/YeaJur.Core/bin/Debug/ICSharpCode.SharpZipLib.dll
/YeaJur.Core/bin/Debug/YeaJur.Mapper.dll
/YeaJur.Core/bin/Debug/YeaJur.Core.pdb
/YeaJur.Core/bin/Debug/YeaJur.Core.dll
/YeaJur.Core/bin/Debug/NPOI.xml
/YeaJur.Core/bin/Debug/NPOI.OpenXmlFormats.dll
/YeaJur.Core/bin/Debug/NPOI.OpenXml4Net.dll
/YeaJur.Core/bin/Debug/NPOI.OOXML.dll
/YeaJur.Core/bin/Debug/NPOI.dll
/YeaJur.Core/bin/Debug/log4net.xml
/YeaJur.Core/bin/Debug/log4net.dll
/YeaJur.Core/bin/Debug/ICSharpCode.SharpZipLib.dll
/YeaJur.Core/obj
